.App {
  text-align: center;
}


table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
.appcoin{
  max-width: 1000px;
  margin: 5rem auto;
  padding: 0 1.25rem;
}
.appcoin article {

    background-color: #e5e5e5;
  padding: 0.5rem;
  position: fixed;
  top: 1.25rem;
  right: 1.25rem;
  border-radius: 0.3rem;
}
table thead {
  background-color: #b51091;
  color: #fff;
  font-size: 1rem;
}